openapi: 3.1.0
info:
  title: Prometheus Fuels Website Content API (WordPress REST API) types API
  version: wp/v2
  description: Public content API for the Prometheus Fuels corporate website (prometheusfuels.ai), served by the WordPress REST API `wp/v2` namespace. Read operations on posts, pages, the site's `news-articles`
    custom post type, categories, tags, users, media, comments, search, taxonomies, types and statuses were verified to respond anonymously on 2026-08-05; write operations require authentication via WordPress
    application passwords (authorization endpoint https://prometheusfuels.ai/wp-admin/authorize-application.php). This is site infrastructure, not a Prometheus Fuels product API — the company publishes
    no developer portal or first-party API. This document was derived by the API Evangelist enrichment pipeline from the route metadata the server itself publishes at https://prometheusfuels.ai/wp-json/wp/v2
    — no operations, parameters or schemas were invented.
  contact:
    name: Prometheus Fuels
    email: info@prometheusfuels.com
    url: https://prometheusfuels.ai/
servers:
- url: https://prometheusfuels.ai/wp-json
  description: Prometheus Fuels WordPress REST API
security: []
tags:
- name: types
paths:
  /wp/v2/types:
    get:
      operationId: listWpV2Types
      summary: GET /wp/v2/types
      tags:
      - types
      responses:
        '200': &id001
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400': &id002
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401': &id003
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403': &id004
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404': &id005
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
  /wp/v2/types/{type}:
    get:
      operationId: getWpV2TypesByType
      summary: GET /wp/v2/types/{type}
      tags:
      - types
      responses:
        '200': *id001
        '400': *id002
        '401': *id003
        '403': *id004
        '404': *id005
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
components:
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          description: Error detail.
          properties:
            status:
              type: integer
              description: HTTP status code.
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress application passwords. The live discovery document at https://prometheusfuels.ai/wp-json/ advertises `authentication.application-passwords.endpoints.authorization` = https://prometheusfuels.ai/wp-admin/authorize-application.php.
        Anonymous requests are accepted for the public read operations; write operations and the `edit` context require these credentials.
